@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="width: 100vw; margin-left: calc(-50vw + 50%)">
        <header class="hero-section mb-5 position-relative overflow-hidden rounded-bottom-4" style="background-image: url('@Url.Content("~/img/hero-background.jpg")');
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 height: 30vh; /* Increased height for impact */
                                                                                                 display: flex;
                                                                                                 justify-content: center;
                                                                                                 align-items: center;
                                                                                                 text-align: center;">
            <div class="overlay position-absolute top-0 start-0 w-100 h-100 bg-gradient-header" style="opacity: 0.7;"></div>
            <div class="content position-relative text-white z-index-1">
                <h1 class="display-3 font-bold mb-3">Welcome to BuddyBasket</h1>
                @* <p class="fs-4 text-white" style="letter-spacing:0.3rem; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);">SHOPPING MADE EASY</p> *@
            </div>
        </header>
    </div>
    <div id="pagination-container" class="mt-5"></div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("Pagination", "Category")',
                success: function (result) {
                    var htmlContent = $(result).find("#pagination-content").html();

                    $("#pagination-container").html(htmlContent);

                    console.log(htmlContent);

                    var scripts = $(result).filter("script");
                    scripts.each(function () {
                        $.globalEval(this.text);
                    });

                }
            });
        });
    </script>
}

