﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <div style="width: 100vw; margin-left: calc(-50vw + 50%)">
        <header class="hero-section mb-5" style="background-image: url('@Url.Content("")');
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: cover;
                                            height: 30vh;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            text-align: center;
                                            position: relative;">
            <div class="overlay position-absolute top-0 left-0 w-100 h-100" style="background-color: rgb(234,80,28, 0.5);"></div>
            <div class="content position-relative text-white z-index-1">
                <h1 class="display-1 font-weight-bold">Welcome to BuddyBasket</h1>
                <p class="fs-4" style="letter-spacing:0.4rem">SHOPPING MADE EASY</p>
            </div>
        </header>

    </div>
	 <div id="pagination-container"></div> 

</div>
<style>
    #category-carousel {
        overflow-x: auto;
        scroll-behavior: smooth;
    }

        #category-carousel::-webkit-scrollbar {
            display: none; /* Hide scrollbar */
        }
        

    img.round {
        border-radius:100px;
        transition: transform 0.2s ease-in-out;
    }

        img.round:hover {
            transform: scale(1.1) !important;
        }
</style>
@section Scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			$.ajax({
				url: '@Url.Action("Pagination", "Category")',
				success: function (result) {
					var htmlContent = $(result).find("#pagination-content").html();

					$("#pagination-container").html(htmlContent);

					console.log(htmlContent);

					// Extract and execute inline scripts from Pagination content
					var scripts = $(result).filter("script");
					scripts.each(function () {
						$.globalEval(this.text); // Dynamically run each script
					});

				}
			});
		});
	</script>
}