@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<h1> </h1>
<br />
<br />
<br />
<style>
    /* #h1 {
        font-family: "Times New Roman", Times, serif;
    } */
</style>
<div>
    <div style="background-color:rgb(234,80,28)" class="heading">
        <h1><pre>  Manage your account</pre></h1>
        <h2><pre>  Change your account settings</pre></h2>
        <hr />
    @* </div> *@
    
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
